.icon {
  &,
  svg {
    fill: transparent;
    height: rem(30px);
    width: rem(30px);
  }

  &--sm,
  &--sm svg {
    height: rem(28px);
    width: rem(28px);
  }

  &--lg,
  &--lg svg {
    height: rem(64px);
    width: rem(64px);
  }
}
