.icon {
  display: flex;
  width: rem(30px);
  height: rem(30px);
  padding: rem(3px);

  fill: transparent;

  svg {
    width: rem(24px);
    height: rem(24px);
  }

  &--sm {
    width: rem(28px);
    height: rem(28px);
  }

  &--lg {
    width: rem(64px);
    height: rem(64px);
  }
}
