// Colors
$brand-gray: (
  100: hsl(210, 50%, 98%),      //#f9fbfd
  200: hsl(206, 26%, 95%),      //#eef2f5
  300: hsl(214, 16%, 92%),      //#e6e9ed
  400: hsl(224, 10%, 79%),      //#c3c6ce
  500: hsl(227, 8%, 65%),       //#9ea1ac
  600: hsl(229, 6%, 49%),       //#747784
  700: hsl(227, 8%, 33%),       //#4d505b
  800: hsl(230, 9%, 25%),       //#3b3d47
  900: hsl(234, 11%, 18%),      //#292a33
  backgound: hsl(240, 11%, 9%)  //#15151a
);

$brand-red: (
  primary: #e20041
);

$brand-blue: (
  light: #007aff,
  primary: #0041e2
);

// Fonts
$font-sizes: (
  xl: 2.125rem,           // 34px
  lg: 1.25rem,            // 20px
  md: 1.0625rem,          // 17px
  sm: 0.9375rem,          // 15px
  xs: 0.8125rem,          // 13px
  xxs: 0.6875rem          // 11px
);

$font-weight-normal: 400;
$font-weight-bold: 800;
