@import 'functions/sizing';
@import 'variables';

.content-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/assets/images/background.png');
  background-position: center;
  background-size: cover;
}

.form-login {
  margin-top: rem(32px);

  &__label {
    font-size: map-get($font-sizes, 'sm');
    font-weight: $font-weight-bold;
  }
}
