<div class="content-wrapper">
  <div class="row">
    <div class="col col-md-3 mx-auto text-center">
      <img src="../assets/images/logo.svg" class="header__logo"/>
      <p class="header__subtitle">Sign in to Nimble</p>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-3 mx-auto">
      <form class="form-login">
        <div class="form-group">
          <label for="inputEmail" class="form-login__label">Email</label>
          <input type="email" id="inputEmail" class="form-control" required="" autofocus="">
        </div>
        <div class="form-group">
          <label for="inputPassword" class="form-login__label">Password</label>
          <input type="password" id="inputPassword" class="form-control" required="">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
      </form>      
    </div>
  </div>
</div>