<app-alert *ngIf="alertMessage" [alertType]="'notification'" [title]="'Check your email.'" [message]="alertMessage"></app-alert>

<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form-group">
    <label for="email" class="form__label" i18n>
      Email
    </label>
    <input formControlName="email" required name="email" id="email" type="email" class="form-control">
  </div>
  <button [disabled]="!forgotPasswordForm.valid" class="btn btn-primary btn-block" type="submit" i18n>
    Send Recovery Email
  </button>
</form>
