<app-alert *ngIf="errorMessage" [message]="errorMessage"></app-alert>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form-group">
    <label for="email" class="form__label" i18n>
      Email
    </label>
    <input formControlName="email" required name="email" id="email" type="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password" class="form__label" i18n>
      Password
    </label>
    <input formControlName="password" required name="password" id="password" type="password" class="form-control">
    <a [routerLink]="['/','auth','forgot-password']" class="form__link" i18n>
      Forgot?
    </a>
  </div>
  <button [disabled]="!loginForm.valid" class="btn btn-primary btn-block" type="submit" i18n>
    Sign in
  </button>
</form>
